@font-face {
  font-family: SoDoSans;
  src: url(../sodo-sans/SoDoSans-Regular.ttf);
}
@font-face {
  font-family: SoDoSansSemiBold;
  src: url(../sodo-sans/SoDoSans-SemiBold.ttf);
}
@font-face {
  font-family: SoDoSansBold;
  src: url(../sodo-sans/SoDoSans-Bold.ttf);
}
:root {
  --fontReg: SoDoSans;
  --fontSemi: SoDoSansSemiBold;
  --fontbold: SoDoSansBold;
}

* {
  box-sizing: border-box;
  font-family: var(--fontReg);
  margin: 0;
  padding: 0;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 3px #a3a3a3;
}

ul:first-child li:first-child {
  position: relative;
}
.logo {
  width: 55px;
  height: 55px;
  border-radius: 1in;
  margin-left: 10px;
}

span {
  color: #00754a;
  position: absolute;
  bottom: 0;
  left: 57px;
}

nav ul:first-child {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul:first-child {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul:first-child li {
  font-family: var(--fontbold);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 30px;
  transition: color 0.2s linear;
}
nav ul:first-child li:hover {
  cursor: pointer;
  color: #00754a;
}

nav ul:last-child {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul:last-child li {
  font-size: 14px;
  margin-left: 10px;
}

nav ul:last-child li:first-child {
  font-family: var(--fontSemi);
  margin-right: 50px;
  transition: color 0.2s linear;
  display: flex;
}

nav ul:last-child li:first-child:hover {
  cursor: pointer;
  color: #00754a;
}

nav ul li i {
  margin-right: 10px;
  font-size: 20px;
}

nav ul:last-child li:nth-child(2) button {
  font-family: var(--fontSemi);
  background-color: white;
  width: 80px;
  border: 1px solid black;
  border-radius: 1in;
  height: 35px;
  transition: background-color 0.2s linear;
}

nav ul:last-child li:nth-child(2) button:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

nav ul:last-child li:last-child {
  margin-right: 25px;
  padding: 5px;
}

li:last-child button {
  font-family: var(--fontSemi);
  color: white;
  background-color: black;
  border: 0;
  border-radius: 1in;
  width: 95px;
  height: 35px;
  transition: opacity 0.3s linear;
}

li:last-child button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Nav End */

section {
  overflow: hidden;
  margin: 33px auto;
  max-width: calc(100% - 80px);
}

.sec {
  background: #006241;
  display: flex;
  position: relative;

  color: white;
}
.body-img {
  width: 50%;
}

.sec div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 85px 100px;
}

.sec div p {
  font-size: 19px;
  text-align: center;
  line-height: 35px;
}

.sec div button {
  font-family: var(--fontSemi);
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 115px;
  height: 35px;
  border-radius: 1in;
  font-size: 15px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.sec div button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* end  section one  */

.sec:nth-of-type(2) {
  background-color: #a3029a;
}

.sec:nth-of-type(2) div {
  padding: 145px 135px;
}

.sec:nth-of-type(2) h2 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
}

.sec:nth-of-type(2) p {
  font-size: 24px;
}

/* end section two */

.sec:nth-of-type(3) {
  background-color: #d6e342;
  color: #1e3932;
}

.sec:nth-of-type(3) div {
  padding: 165px 105px;
}

.sec:nth-of-type(3) h2 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
}

.sec:nth-of-type(3) p {
  font-size: 24px;
}

.sec:nth-of-type(3) button,
.sec:nth-of-type(4) button {
  width: 140px;
  height: 40px;
  color: #1e3932;
  border: 1px solid hsl(164 31% 17%);
  font-size: 16px;
}

/* end section three */

.sec:nth-of-type(4) {
  background-color: #97d8b1;
  color: #1e3932;
}

/* end section four */

.last-p {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding: 34px 0;
  line-height: 26px;
  width: 660px;
}

/* last paragraph */
.Options {
  box-shadow: 0px -2px 2px 0px #e0e0e0;
  display: flex;
  padding: 30px 40px;
  height: 440px;
  position: relative;
}

.FirstLi {
  color: black;
  font-size: 18px;
  margin-bottom: 35px;
}

.Options ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 194px;
}

.Options li:not(.FirstLi) {
  color: rgba(0, 0, 0, 0.58);
  margin-bottom: 25px;
}

.Options ul:first-child {
  margin-right: 34px;
}

.Options ul:nth-child(2) {
  margin-right: 26px;
}

.Options ul:nth-child(3) {
  margin-right: 35px;
}
.Options ul:nth-child(4) {
  margin-right: 35px;
}

.Options li:hover {
  color: black;
}
/* end options */

footer {
  padding: 30px;
  position: relative;
}

footer div:first-child {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
}

footer .images {
  font-size: 30px;
}

footer .images i {
  margin-right: 10px;
  cursor: pointer;
}

footer .images i:hover {
  opacity: 0.7;
}

footer li {
  list-style: none;
  margin-top: 25px;
  width: fit-content;
}

footer p {
  font-size: 14px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.58);
}

footer li:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 871px) and (max-width: 1190px) {
  .sec div p {
    font-size: 15px !important;
  }

  .sec h2 {
    font-size: 29px !important;
  }

  .sec div {
    padding: 95px 30px !important;
  }

  .sec:nth-of-type(2) div {
    margin-left: auto;
    margin-right: auto;
  }

  .sec:nth-of-type(2) p {
    font-size: 20px !important;
  }

  .Options li:not(.FirstLi) {
    margin-bottom: 12px;
    font-size: 13px;
  }
  nav ul:last-child li:first-child {
    margin-right: 13px;
  }
}

@media (max-width: 871px) {
  section {
    max-width: 100%;
    margin: 33px 0;
  }

  .header-list ul:last-child li:first-child {
    display: none;
  }
  section {
    flex-direction: column;
  }
  .sec div {
    padding: 82px 80px;
  }
  .sec div p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sec h2 {
    font-size: 29px !important;
  }

  section:nth-of-type(2),
  section:nth-of-type(4) {
    flex-direction: column-reverse;
  }
  .body-img {
    width: 100%;
  }
  .Options {
    display: none;
  }
  .last-p {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    padding: 34px 0;
    line-height: 26px;
    width: 490px;
  }
  nav ul:first-child li {
    font-size: 10px;
  }
  nav ul:last-child li:nth-child(2) button {
    width: 70px;
    height: 23px;
    font-size: 10px;
  }
  li:last-child button {
    font-size: 10px;
    width: 70px;
    height: 26px;
  }

  .header-list ul:first-child li:not(li:first-child),
  .header-list ul:last-child li:first-of-type,
  .header-list ul:last-child li:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 550px) {
  section {
    max-width: 100%;
    margin: 33px 0;
  }

  .last-p {
    width: 335px;
  }
  .Options {
    display: none;
  }
  footer ul li {
    font-size: 13px;
  }

  footer p {
    font-size: 9px;
  }

  footer .images i {
    font-size: 25px;
  }

  .sec h2 {
    font-size: 21px !important;
  }

  .sec:nth-of-type(2) p {
    font-size: 15px;
  }

  .sec div {
    padding: 82px 10px !important;
  }

  .sec:nth-of-type(2) div {
    padding: 0;
  }

  .sec div p {
    font-size: 13px !important;
  }
}
